$primary-color: #007bff;
$primary-color-hover: #0056b3;
$background-color: #f4f4f4;
$box-color: #fff;
$text-color: #000;
$black-color: rgb(40, 30, 0);
$box-shadow: 0px 4px 8px rgba(40, 30, 0, 0.1);
$box-shadow-gray: 0px 4px 8px gray;
$input-border-color: #ccc;
$border-radius: 5px;
$padding: 10px;
$font-size: 16px;
